<h2>Lista de categorias</h2>
<hr>
<a href="/admin/cat/add"><button  class="btn btn-success">Adicionar</button></a>

{{#each categorias}}
    <div class="card mt-4">
        <div class="card-body">
            <small hidden>{{_id}}</small>
            <h4>{{nome}}</h4>
            <small>Slug: {{slug}}</small><br>
            <small>Data da criação: {{date}}</small><br>
                                    <!--esse _id é um campo do doc sendo enviado como paramettro da rota-->
            <a href="/admin/cat/edit/{{_id}}"><button class="btn btn-success mt-4">Editar</button></a>
            <a href="/admin/cat/delete/{{_id}}"><button class="btn btn-danger mt-4">Deletar</button></a>
        </div>
    </div>
{{else}}
    <h4 class="mt-4">Nenhuma categoria encontrada, é a sua chance de mostrar sua criatividade :D</h4>

{{/each}}