<h2>Lista de posts</h2>
<hr>
<a href="/admin/post/add"><button  class="btn btn-success">Adicionar</button></a>

{{#each postagem}}
    <div class="card mt-4">
        <div class="card-body">
            <h4>{{titulo}}</h4>
            <h5 class="mt-4">{{slug}}</h5>
            <small class="mt-4">{{descricao}}</small><br>
            <small class="mt-4">{{conteudo}}</small>
            <h5 class="mt-4">Referente a categoria: {{categoria}}</h5>
            <small>{{data}}</small><br>
            <a href="/admin/post/edit/{{_id}}"><button class="btn btn-success mt-4">Editar</button></a>
            <a href="/admin/post/delete/{{_id}}"><button class="btn btn-danger mt-4">Deletar</button></a>
        </div>
    </div>
{{else}}
    <h2>Nenhuma postagem feita!</h2>
{{/each}}